.usersys-widget-experience-cover{
	background-color:#f5f5f5;
	position:static;
	height: 100%;
    width: 100%;
}
.cover-title{
    background: #3B89FA;

}
.os-iphone {
    height: 87px;

}
.cover-title .content{
    color: #ffffff;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 12px 0;
    font-size: 17px;
}
.os-iphone .content{
    padding: 33px 0 12px;
}
.cover-warper{
    background: #fff;
    margin: auto;
    color: #000;
    position: relative;
    height: 264px;
    background: #fbfbfb;

}
.title {
    font-size: 13px;
    height: 41px;
    line-height: 41px;
    padding-left: 22px;
    color: #352d35;
}

.icon{
    position: relative;
    height: 21px;
    display: inline-block;
    width: 20px;
    background: url(static/img/icons.png);
    background-size: 40px, auto;
    top: 5px;
}
.info-title .icon{
    background-position: -10px -425px;
}
.set-info .icon {
    background-position: -10px -446px;
}
.sgin-in .icon {
    background-position: -10px -35px;
}
.route-search .icon {
    background-position: -10px -75px;
}
.nav .icon {
    background-position: -10px -95px;
}
.achievements .icon {
        background-position: -11px -250px;
}
.sgin-in ,.route-search,.nav,.achievements,.set-info{
    color: gray;
    font-size: 12px;
    height: 56px;
    line-height: 56px;
    padding-left: 15px;
}

.info-warper .info-title {
    background: #fefadd;
    color: #703a04;
    font-size: 10px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    border-bottom-color:#fbdf88;
}
.info-title:after{
    background-color:#fbdf88;
}
.info-title .text{
    font-size: 13px;
}

.text{
	margin-left: 10px;
    font-size: 14px;
}

.upgrade-warper {
    margin-top: 10px;
    background: #fbfbfb;
    color: #808080;
}
.upgrade-warper .header {
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
}
.upgrade-warper .header .icon {
    background-position: -11px -360px;
}
.upgrade-warper .header .text {
    margin-left: 7px;
    font-size: 15px;
}

.upgrade-warper .list-warper .item .need-exp {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}
.upgrade-warper .list-warper .item .level {
    display: inline-block;
    background: #bac7d3;
    border-radius: 11px;
    color: #fff;
    font-size: 12px;
    width: 43px;
    line-height: 16px;
    margin-left: 15px;
    text-align: center;
}