.jinbao-widget-menu {
	ul {
		margin-bottom: 0;
		li {
			height: 30px;
			line-height: 30px;
			text-indent: 15px;
			border-bottom: 1px solid #ddd;
			cursor: pointer;

			&:hover {
				background: #5499EA;
				color: white;
			}
		}
	}
}