<div class="jinbao-widget-form">
  <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><%-title%></li>
            <li><%-subtitle%></li>
        </ul>
  </div>
  <div>
    <div class="panel-heading">
        <h3 class="panel-title"><%-title%></h3>
    </div>
    <ul class="nav nav-tabs nav-justified">
    <%for (var i = 0, len = tabs.length; i < len; i++ ) {%>
      <li data-key="<%-tabs[i].key%>">
        <a href="<%-host+tabs[i].url%>" ><%-tabs[i].value%></a>
      </li>
    <%}%>
    </ul>
    <div class="panel panel-default">
      <div class="panel-body">
      <%for (var i = 0, len = formlist.length; i < len; i++ ) {%>
      <div class="row">
        <%for (var j = 0, lenj = formlist[i].length; j < lenj; j++ ) {%>
          <% var item = formlist[i][j]; %>
          <div class="<%-item.wrapperClass%> input-wrapper">
            <%if (item.type === 'input') {%>
              <div class="form-group input-group">
                <div class="input-group-addon" ><%-item.name%></div>
                <input class="form-control" value="" maxlength="40" placeholder="">
              </div>
            <%} else if (item.type === 'select') {%>
              <div class="form-group input-group">
                  <div class="input-group-addon" ><%-item.name%></div>
                  <select class="form-control" >
                  <%for (var k = 0, lenk = item.selectList.length; k < lenk; k++ ) {%>
                    <option value=""><%-item.selectList[k]%></option>
                  <%}%>
                  </select>
              </div> 
             <%} else if (item.type === 'time') {%>
                <div class="form-group input-group time">
                  <div class="input-group-addon" ><%-item.name%></div>
                  <input class="form-control <%-item.classList%>" readonly>
                </div> 
            <%} else if (item.type === 'button') {%>
              <button class="<%-item.classList%>" onclick="<%-item.evt%>"><%-item.name%></button>
            <%} else if (item.type === 'dep') {%>
                <div class="form-group input-group dep">
                  <div class="input-group-addon" ><%-item.name%></div>
                  <input class="form-control  readonly">
                  <div class="input-group-addon choose-button">选择</div>
                </div> 
            <%} else if (item.type === 'area') {%>
              <div class="form-group input-group">
               <div class="input-group-addon" ><%-item.name%></div>
                <city-select></city-select>
<!--                 <tree-component></tree-component>   -->
              </div>
            <%}%>
          </div>
        <%}%>
      </div>
      <%}%>
  </div>
</div>